* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;  line-height: 1.6;
  text-align: center;
  margin: 10% 10% 10% 10%;

}

ul {
  text-align: left;
  padding: 10px;
  text-size:16px;
}

p {
  padding: 10px;
  font-size: 16px;
}

img {
  display: block;
  margin: auto;
  width: 25%;
}

.content {
  background-color: #FAF5FB;
  padding:20px;
}

hr {
  margin-bottom: 20px;
}

main {
  padding: 20px;
  background-color: #FAF5FB;
  border-radius: 4px;
  max-width: 800px;
  margin: 20px auto;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

  .cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background: white;
    border-top: 1px solid #000000;
    font-family: sans-serif;
  }
