/* Basis-Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nimbus Mono PS', 'Courier New', monospace;  line-height: 1.6;
  color: #333;
  text-align: center;
  font-size: 16px;
  margin: 10% 10%;
}

ul {
  text-align: left;
  padding: 10px;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

p {
  padding: 10px;
}

img {
  display: block;
  margin: auto;
  width: 25%;
}

.content {
  background-color: white;
  padding:10%;
}

hr {
  margin-bottom: 20px;
}

main {
  padding: 5%;
  background-color: white;
  border-radius: 1%;
  max-width: 800px;
  margin: 20px auto;
}

.footnote {
  float: footnote;
}

/* Table */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
